@model WebStore.Models.Product

@{
    ViewData["Title"] = "The Web Store | Delete Product";
}

<h2 class="display-4">Delete the product</h2>
<hr />

<div>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Title</td>
                <td>@Model.Author</td>
                <td>@Model.Created.ToString("d")</td>
                <td>@Model.Price.ToString("c")</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="btn-group">
    <form asp-controller="Product" asp-action="Delete">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <a class="btn btn-outline-dark" asp-controller="Store" asp-action="Index">Back to list</a>
</div>
